<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878409843897-3h5crctu3bopkicl3m4acbbt333g8e77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878409843897-3h5crctu3bopkicl3m4acbbt333g8e77</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>878409843897-2jn3pvpnu8ie8ncf9q8i08mos18h88oa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcm3IFfk6kgyej4TQ9dHF5FQIevSwlh-8</string>
	<key>GCM_SENDER_ID</key>
	<string>878409843897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hdwebsoft.notes</string>
	<key>PROJECT_ID</key>
	<string>hd-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>hd-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878409843897:ios:5f50f4fe052d4d0bfc0768</string>
</dict>
</plist>